body {
    overflow-x: auto
}


#newstories {
    width: 45%;
    float: left;
    min-width: 600px;
    margin: 10px 10px 10px 10px;
}
#messageboard {
    width: 45%;
    float: left;
    min-width: 600px;
    margin: 10px 10px 10px 10px;
}
#coursegrade {
    width: 45%;
    float: left;
    min-width: 600px;
    margin: 10px 10px 10px 10px;
}
#testsassignment {
    min-width: 600px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center
}
#assignment {
    float: left;
    width: 45%;
    min-width: 600px;
    margin: 10px 10px 10px 10px;
}
#testsheader {
    color: black;
    font-size: 36px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    margin-bottom:10px;
    margin-top: 10px;
}
#question {   
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom:10px;
    margin-top:10px;
}

#questionheader {
    font-size: 36px;
}
#answers {
    vertical-align:central;
    text-align:center;
    font-size:20px;
}
#courses {
    float: left;
    width: 45%;
    min-width: 600px;
    margin: 10px 10px 10px 10px;
}
#courseselect {
    font-size: 36px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
}

#tables {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
#tables tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tables tr:hover {
    background-color: #ddd;
}

    #tables th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #000000;
        color: white;
    }

    #tables tr {
        text-align: center;
    }
        ul {
    min-width:600px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

    li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover, .dropdown:hover .dropbtn {
            background-color: green;
        }

    li.dropdown {
        display: block;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
}

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

.dropdown:hover .dropdown-content {
    display: block;
}
