<!DOCTYPE html>
<html lang="en">
<head>

    <title>The School Portal</title>
    <script src="~/Scripts/JavaScript.js"></script>
</head>
<body>

    <form action="/Home/Index" method="post" onsubmit="return validatepassword()">
        Username:<input id="username" name="username" type="text" maxlength="255" /><br /><br />
        Password:<input id="password" name="password" type="password" /><br />
        <input value="Log In" type="submit" />
    </form>
    Test Student Account(User Name:test Password:test)<br/>
    Test Teacher Account(User Name:testteacher Password:test)



</body>
</html>