<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="~/styles.css">
    <script src="~/Scripts/JavaScript.js"></script>
</head>
<body>
    <div id="navbar">
        <ul id="main-menu" class="sm sm-blue">
            <li><a href="~/Home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </li>
        </ul>
    </div>
    
            @foreach (dynamic p in (ViewBag.courses))
            {
            <div id="courseselect">
                
                <table id="tables">
                    <tr style="background-color:white">
                        <td>@p.getdepartment()-@p.getcoursecode()</td>
                        <td>@p.getcoursename()</td>
                        <td>3 Credit Hours</td>
                    </tr>
                    <tr>

                    </tr>
                    <tr style="background-color:white;font-size:24px;">
                        <td colspan="3">@p.getdescription()</td>
                    </tr>       
                    <tr style="background-color:white;font-size:24px;">
                        <td colspan="3">Prerequisites</td>
                    </tr>    
                    <tr style="background-color:white;font-size:24px;">
                        <td colspan="3">test</td>
                    </tr>    
                    <tr style="background-color:white;font-size:24px;">
                        <td><button>Alternate</button></td>
                        <td></td>
                        <td><button>Enroll</button></td>
                    </tr>    
                </table>
            </div>
            }


</body>
</html>